@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
      font-family: Sofia-Pro-Regular;
      src: url(/src/fonts/sofia-pro/SofiaProRegular.woff) format("woff");
    }
    @font-face {
      font-family: Sofia-Pro-Medium;
      src: url(/src/fonts/sofia-pro/SofiaProMedium.woff) format("woff");
    }
    @font-face {
      font-family: Sofia-Pro-Light;
      src: url(/src/fonts/sofia-pro/SofiaProLight.woff) format("woff");
    }
    @font-face {
      font-family: Sofia-Pro-Ultra-Light;
      src: url(/src/fonts/sofia-pro/SofiaProUltraLight.woff) format("woff");
    }
  }